body{
  margin: 0;
  background-color: #F4CCB2;
}

.App{
  min-width: 1200px;
}

.twilight-head{
  width: 100%;
  height: 10%;
  background-color: white;
  padding: 15px;
}

.twilight-head h1{
  color: #39254F;
  display: inline-block;
  margin-left: 5%;
  margin-bottom: 0;
  font-family: 'Merriweather';
}

.twilight-head button{
  color: #D993A7;
  display: inline-block;
  margin-right: 10%;
  padding: 10px;
  width: 40%;
  border-radius: 13px;
  font-family: 'Bellota Text';
}

.twilight-header-button{
  float: right;
  width: 300px;
  margin-right: 4%;
}

.twilight-search{
  background-color: white;
}

.twilight-signin{
  background-color: #39254F;
}

#n1234{
  margin-left: 710px;
}

.twilight-navbar{
  margin-left: 4.5%;
}
